
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

:root{
    --main-red: #F03C42;
    --main-blue: #222374;
    --light-grey: #CCCCCC;
    --basic-white: #ffff;
    --main-black: #000000;
}

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, a:hover{
    color: unset;
    text-decoration: none;
}

header{
    background-color: var(--main-red);
    height: 100px;
    width: 1200px;
    display: flex;
    align-items: center;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-insta-content {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

nav h1{
    height: 25px;
    width: 99px;
    font-size: 18px;
    font-weight: 700;
    color: var(--basic-white);
}

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}



.header-insta-content a{
    padding-left: 10px;
    width: 85px;
    height: 19px;
    color: var(--basic-white);
}

.header-content img{
    height: 30px;
    width: 30px;
}

#get-to-know-us{
    background-color: var(--main-blue);
    Width: 1200px;
    Height: 418px;
}

#get-to-know-us h2{
    padding-top: 20px;
    color: var(--basic-white);
    padding-bottom: 40px;
}

.get-to-know-us-content{
    background-color: var(--light-grey);
    height: 127px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding: 0px 20px;
}

.get-to-know-us-content h3{
    font-size: 20px;
    font-weight: 700;
}

.get-to-know-us-content p{
    font-size: 14px;
    font-weight: 400;
}

#categories{
    background-color: var(--basic-white);
    Width: 1200px;
    Height: 880px;
    padding: 20px 0px;
}

#categories h2{
    color:var(--main-red);
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 40px;
    
}

.categories-content{
    background-color: var(--main-blue);
    border-radius: 8px;
    height: 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 20px;
    margin-bottom: 20px;
}

.categories-content h3{
    font-size: 20px;
    font-weight: 700;
    color: var(--basic-white);
    padding-bottom: 20px;
}

.categories-content p{
    font-size: 14px;
    font-weight: 400;
    color: var(--basic-white);
}

footer{
    background-color: var(--main-black);
    height: 262px;
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-insta-content{
    display: flex;
    align-items: center;
}

.footer-insta-content a{
    color: var(--basic-white);
    font-size: 14px;
    padding-left: 10px;
}

.footer-twiter-content{
    display: flex;
    align-items: center;
}

.footer-twiter-content a{
    color: var(--basic-white);
    font-size: 14px;
    padding-left: 10px;
}

.Rights-and-Address{
    color:var(--basic-white);
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}